.svg-img--android-logo {
	background: url("svg/sprite.css-f482d12a.svg") 51.47178206363847% 57.17943814717369% no-repeat;
}

.svg-img--android-logo-dims {
	width: 42.084px;
	height: 47.041px;
}

.svg-img--apple-logo {
	background: url("svg/sprite.css-f482d12a.svg") 58.474419088395635% 44.10001639539401% no-repeat;
}

.svg-img--apple-logo-dims {
	width: 46.21px;
	height: 56.753px;
}

.svg-img--blog-post-icon {
	background: url("svg/sprite.css-f482d12a.svg") 61.508703071672365% 46.29432773109244% no-repeat;
}

.svg-img--blog-post-icon-dims {
	width: 28px;
	height: 26px;
}

.svg-img--cross {
	background: url("svg/sprite.css-f482d12a.svg") 78.62685468034037% 54.73836817829848% no-repeat;
}

.svg-img--cross-dims {
	width: 26.752px;
	height: 26.752px;
}

.svg-img--cross-grey {
	background: url("svg/sprite.css-f482d12a.svg") 71.78635718961378% 54.73836817829848% no-repeat;
}

.svg-img--cross-grey-dims {
	width: 26.752px;
	height: 26.752px;
}

.svg-img--cross-white {
	background: url("svg/sprite.css-f482d12a.svg") 76.34668885009818% 54.73836817829848% no-repeat;
}

.svg-img--cross-white-dims {
	width: 26.752px;
	height: 26.752px;
}

.svg-img--facebook {
	background: url("svg/sprite.css-f482d12a.svg") 99.08941953853179% 19.474720374614176% no-repeat;
}

.svg-img--facebook-dims {
	width: 8.672px;
	height: 18.943px;
}

.svg-img--htmlacademy {
	background: url("svg/sprite.css-f482d12a.svg") 69.50122628312178% 55.59680280395802% no-repeat;
}

.svg-img--htmlacademy-dims {
	width: 26.943px;
	height: 34.09px;
}

.svg-img--htmlacademy-grey {
	background: url("svg/sprite.css-f482d12a.svg") 67.204406946977% 55.59680280395802% no-repeat;
}

.svg-img--htmlacademy-grey-dims {
	width: 26.943px;
	height: 34.09px;
}

.svg-img--htmlacademy-pink {
	background: url("svg/sprite.css-f482d12a.svg") 64.90758761083221% 55.59680280395802% no-repeat;
}

.svg-img--htmlacademy-pink-dims {
	width: 26.943px;
	height: 34.09px;
}

.svg-img--logotype-blue-desktop {
	background: url("svg/sprite.css-f482d12a.svg") 56.56258897219322% 33.78911454102355% no-repeat;
}

.svg-img--logotype-blue-desktop-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-img--logotype-blue-tablet {
	background: url("svg/sprite.css-f482d12a.svg") 98.14748030748788% 20.378878960194964% no-repeat;
}

.svg-img--logotype-blue-tablet-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-img--logotype-pink-desktop {
	background: url("svg/sprite.css-f482d12a.svg") 70.44699629875676% 33.78911454102355% no-repeat;
}

.svg-img--logotype-pink-desktop-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-img--logotype-pink-mobile {
	background: url("svg/sprite.css-f482d12a.svg") 85.55865718291288% 32.55388288624851% no-repeat;
}

.svg-img--logotype-pink-mobile-dims {
	width: 74.426px;
	height: 22.859px;
}

.svg-img--logotype-pink-tablet {
	background: url("svg/sprite.css-f482d12a.svg") 84.26307298092435% 20.378878960194964% no-repeat;
}

.svg-img--logotype-pink-tablet-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-img--logotype-white-desktop {
	background: url("svg/sprite.css-f482d12a.svg") 56.49425832779728% 20.378878960194964% no-repeat;
}

.svg-img--logotype-white-desktop-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-img--logotype-white-mobile {
	background: url("svg/sprite.css-f482d12a.svg") 78.94638646592759% 32.55388288624851% no-repeat;
}

.svg-img--logotype-white-mobile-dims {
	width: 74.426px;
	height: 22.859px;
}

.svg-img--logotype-white-tablet {
	background: url("svg/sprite.css-f482d12a.svg") 70.37866565436082% 20.378878960194964% no-repeat;
}

.svg-img--logotype-white-tablet-dims {
	width: 146.3px;
	height: 40.375px;
}

.svg-img--map-marker {
	background: url("svg/sprite.css-f482d12a.svg") 62.32039566432449% 55.82264166328695% no-repeat;
}

.svg-img--map-marker-dims {
	width: 35.983px;
	height: 35.983px;
}

.svg-img--menu-burger {
	background: url("svg/sprite.css-f482d12a.svg") 62.682393450748016% 41.07884425085722% no-repeat;
}

.svg-img--menu-burger-dims {
	width: 49.945px;
	height: 24.007px;
}

.svg-img--menu-burger-pink {
	background: url("svg/sprite.css-f482d12a.svg") 67.02522922816736% 41.07884425085722% no-repeat;
}

.svg-img--menu-burger-pink-dims {
	width: 49.945px;
	height: 24.007px;
}

.svg-img--menu-cross {
	background: url("svg/sprite.css-f482d12a.svg") 69.78564499083012% 41.06681613693261% no-repeat;
}

.svg-img--menu-cross-dims {
	width: 23.867px;
	height: 23.867px;
}

.svg-img--menu-cross-pink {
	background: url("svg/sprite.css-f482d12a.svg") 71.81492229195167% 41.06681613693261% no-repeat;
}

.svg-img--menu-cross-pink-dims {
	width: 23.867px;
	height: 23.867px;
}

.svg-img--microsoft-logo {
	background: url("svg/sprite.css-f482d12a.svg") 55.19385370191286% 56.551842576650834% no-repeat;
}

.svg-img--microsoft-logo-dims {
	width: 43.922px;
	height: 41.992px;
}

.svg-img--no {
	background: url("svg/sprite.css-f482d12a.svg") 74.06652301985598% 54.73836817829848% no-repeat;
}

.svg-img--no-dims {
	width: 26.752px;
	height: 26.752px;
}

.svg-img--quotes {
	background: url("svg/sprite.css-f482d12a.svg") 53.15126350184781% 44.80809473062063% no-repeat;
}

.svg-img--quotes-dims {
	width: 78.672px;
	height: 63.789px;
}

.svg-img--review-arrow-left {
	background: url("svg/sprite.css-f482d12a.svg") 57.88084966981898% 56.51830077713396% no-repeat;
}

.svg-img--review-arrow-left-dims {
	width: 21.707px;
	height: 41.719px;
}

.svg-img--review-arrow-right {
	background: url("svg/sprite.css-f482d12a.svg") 59.72309094597015% 56.51830077713396% no-repeat;
}

.svg-img--review-arrow-right-dims {
	width: 21.707px;
	height: 41.719px;
}

.svg-img--timer {
	background: url("svg/sprite.css-f482d12a.svg") 33.03769401330377% 99.41173471338797% no-repeat;
}

.svg-img--timer-dims {
	width: 298px;
	height: 345.098px;
}

.svg-img--timer-dark {
	background: url("svg/sprite.css-f482d12a.svg") 0 99.41173471338797% no-repeat;
}

.svg-img--timer-dark-dims {
	width: 298px;
	height: 345.098px;
}

.svg-img--triangle-white {
	background: url("svg/sprite.css-f482d12a.svg") 0 0 no-repeat;
}

.svg-img--triangle-white-dims {
	width: 1200px;
	height: 94.074px;
}

.svg-img--triangle-white-footer {
	background: url("svg/sprite.css-f482d12a.svg") 0 21.375839307422257% no-repeat;
}

.svg-img--triangle-white-footer-dims {
	width: 595.28px;
	height: 61.905px;
}

.svg-img--twitter {
	background: url("svg/sprite.css-f482d12a.svg") 99.8291754756871% 23.190775973866078% no-repeat;
}

.svg-img--twitter-dims {
	width: 17.5px;
	height: 14.664px;
}

.svg-img--yes {
	background: url("svg/sprite.css-f482d12a.svg") 88.69954045099925% 32.47451656423324% no-repeat;
}

.svg-img--yes-dims {
	width: 30.375px;
	height: 21.688px;
}

.svg-img--youtube {
	background: url("svg/sprite.css-f482d12a.svg") 50.219385013316646% 27.54876649454963% no-repeat;
}

.svg-img--youtube-dims {
	width: 14.641px;
	height: 13.96px;
}

