.page-header{
  padding: 0;
  margin: 0;
  background: @d-grey;
}

.page-header__bg-photo{
  height: 458px;
  background: url(../img/bg-header.jpg) no-repeat center 0;
  padding: @base-font-size * 2;
}

.page-header__slogan{
  font-size: @large-font-size;
  line-height: round((@large-font-size * 1.2));
  text-align: center;
  font-weight: 300;
  color: white;

  padding: 68px 0 0 0;
  margin: 0;
}
