.about-app {
  text-align: center;

  background: @l-grey;
}

.about-app__promo {
  position: relative;

  margin: 0;
  padding-bottom: 65px;

  background: white;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 33px;

    content: "";

    background: linear-gradient(to bottom right, white 50%, @l-grey 50%);
  }
}

.about-app__promo-text {
  font-size: @large-font-size;
  font-weight: 300;
  line-height: round(@large-font-size * 1.2);

  margin-top: 35px;
  padding: 0;

  color: @blue-grey;
}

.about-app__app-description {
  font-size: 0;

  margin: 0;
  padding-top: 35px;
}

.about-app__description-title {
  margin-top: 15px;
  margin-bottom: 12px;
  padding: 0;
}

.about-app__description-text {
  margin-bottom: 35px;
  padding: 0;
}

.about-app__iphone {
  display: block;

  width: 158px;
  height: 278px;
  margin: auto;
}

//media

@media (min-width: @screen-sm) {
  .about-app__promo {
    padding-top: 55px;
    padding-bottom: 105px;

    &:after {
      height: 55px;
    }
  }

  .about-app__promo-text {
    font-size: 40px;
    line-height: 1.2em;

    margin: 0;

    &:last-of-type {
      width: 360px;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .about-app__app-description {
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about-app__description-title {
    margin-left: 310px;

    text-align: left;
  }

  .about-app__description-text {
    margin-left: 310px;

    text-align: left;
  }

  .about-app__iphone {
    position: absolute;
    bottom: -45px;
    left: 0;

    width: 268px;
    height: 481px;
  }
}

@media (min-width: @screen-lg) {
  .about-app__promo {
    padding-top: 68px;
    padding-bottom: 165px;

    &:after {
      height: 90px;
    }
  }

  .about-app__promo-text {
    font-size: 50px;
    line-height: 1.2em;

    &:last-of-type {
      width: 450px;
    }
  }

  .about-app__app-description {
    & .container {
      display: flex;
      flex-direction: row;

      align-content: flex-start;
      justify-content: space-between;
    }
  }

  .about-app__iphone {
    display: none;
  }

  .about-app__description-item {
    position: relative;

    width: 33.3%;
    padding: 255px 40px 40px 40px;

    &:before {
      position: absolute;
      top: -100px;
      left: 50%;

      width: 292px;
      height: 302px;
      margin-left: -146px;

      content: "";

      background: url(../img/iphone-screen-desktop-2@1x.png) center;
      background-size: contain;

      @media (min-resolution: 2dppx) {
        background-image: url(../img/iphone-screen-desktop-2@2x.png);
      }
    }

    &:first-of-type:before {
      background-image: url(../img/iphone-screen-desktop-1@1x.png);

      @media (min-resolution: 2dppx) {
        background-image: url(../img/iphone-screen-desktop-1@2x.png);
      }
    }

    &:last-of-type:before {
      background-image: url(../img/iphone-screen-desktop-3@1x.png);

      @media (min-resolution: 2dppx) {
        background-image: url(../img/iphone-screen-desktop-3@2x.png);
      }
    }
  }

  .about-app__description-title {
    font-size: 30px;
    line-height: 1em;

    margin: 0 0 30px 0;

    text-align: center;
  }

  .about-app__description-text {
    font-size: 18px;
    line-height: 30px;

    margin: 0;

    text-align: center;
  }
}
