.app-reviews{
  background: white;
  text-align: center;
  padding: 45px 0 65px 0;
  margin: 0;
  position: relative;
  
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33px;
    background: linear-gradient(to bottom right, white 50%, @l-grey 50%);
  }
}

.app-reviews__review{
  padding-bottom: 35px;
}

.app-reviews__user-name{
  padding-bottom: 15px;
  margin: 0;
}

.app-reviews__text{
  padding: 0;
  margin: 0;
}

@media (max-width: @screen-sm) {
  .app-reviews__about-user{
    display: none;
  }
}

@media (min-width: @screen-sm) {
  
  .app-reviews{
    padding: 75px 0;
    
    &:after{
      height: 55px;
    }
  }
  
  .app-reviews__review{
    display: flex;
    flex-direction: column;
  }
  
  .app-reviews__text{
    font-size: 18px;
    line-height: 30px;
    order: 1;
  }
  
  .app-reviews__user-name{
    padding-top: 35px;
    padding-bottom: 10px;
    order: 2;
  }
  
  .app-reviews__about-user{
    margin: 0;
    order: 3;
  }
}