.btn{
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  padding: 15px;
  font-family: @base-font;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  &--white{
    background-color: white;
    color: @blue-grey;
    border: 2px solid @border-grey;
    
    &:hover{
      border-color: @blue-grey;
    }
    
    &:active{
      background: @blue-grey;
      color: white;
    }
  }

  &--green{
    background-color: @green;
    color: white;
    border: none;
    
    &:hover{
      background: darken(@green, 5%);
    }
    
    &:active{
      color: fade(white, 30%);
    }
  }
}
