.btn {
  font-family: @base-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  display: block;

  width: 100%;
  padding: 15px;

  cursor: pointer;
  text-align: center;
  text-transform: uppercase;

  border-radius: 2px;
  outline: none;

  &--white {
    color: @blue-grey;
    border: 2px solid @border-grey;
    background-color: white;

    &:hover {
      border-color: @blue-grey;
    }

    &:active {
      color: white;
      background: @blue-grey;
    }
  }

  &--green {
    color: white;
    border: none;
    background-color: @green;

    &:hover {
      background: darken(@green, 5%);
    }

    &:active {
      color: fade(white, 30%);
    }
  }
}
