.checkbox {
  display: none;

  & + label:first-of-type {
    margin-top: 30px;
  }

  & + label:last-of-type {
    margin-bottom: 25px;
  }

  & + label:before {
    position: absolute;
    top: -2.5px;
    left: 0;

    width: 35px;
    height: 35px;

    content: "";

    border: 2px solid @border-grey;
    border-radius: 2px;
    background: white;
  }

  & + label:hover:before {
    border-color: @blue-grey;
  }

  & + label:active:before {
    border-color: @pink;
  }

  &:checked + label:after {
    position: absolute;
    top: 7px;
    left: 8px;

    width: 23px;
    height: 12px;

    content: "";
    transform: rotate(-45deg);

    border-bottom: 2px solid @pink;
    border-left: 2px solid @pink;
    border-radius: 2px;
  }
}

@media (min-width:@screen-lg) {
  .checkbox {
    & + label:first-of-type {
      margin-top: 0;
    }

    & + label:last-of-type {
      margin-bottom: 45px;
    }
  }
}
