.contest-form{
  padding-top: 50px;
  margin: 0;
}

.contest-form__description{
  margin-bottom: -35px;
}

.contest-form__title{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @pink;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;

  &--fieldset-title{
    margin-bottom: 40px;
  }

  &--left-align{
    text-align: left;
  }
}

.contest-form__label{
  display: block;
  margin: 0 22px;

  &--top{
    margin-top: 25px;
    margin-bottom: 14px;
  }

  &--bottom{
    margin-top: 14px;
    margin-bottom: 25px;
  }
}

.contest-form__fieldset{
  padding-bottom: 25px;

  &--name{
    padding-bottom: 45px;
  }

  &:nth-last-of-type(2),
  &:last-of-type{
    padding-bottom: 0;
  }

  &--odd{
    background: white;
    padding-top: 50px;
  }

  &--even{
    background: @l-grey;
    padding-top: 35px;
  }
}

.contest-form__input-description{
  display: block;
  position: relative;
  font-family: @base-font;
  font-size: 18px;
  line-height: 30px; //6
  color: @blue-grey;
  font-weight: 400;
  padding-left: 60px;
  margin-bottom: 45px;
  cursor: pointer;
}

.contest-form__call{
  display: none;
}

.contest-form__input-number{
  display: flex;
  flex-direction: row;
}

.contest-form__number-change-btn{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 60px;
  border: 2px solid @border-grey;
  background-color: white;
  font-size: 0;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  flex-grow: 1;
  
  &:hover{
    border-color: @blue-grey;
  }
  
  &:active{
    background-color: @blue-grey;
  }

  &--minus{
    background-image: url(../img/minus.png);
    background-size: 27px 3px;
    
    &:active{
      background-image: url(../img/minus-white.png);
    }
  }

  &--plus{
    background-image: url(../img/plus.png);
    background-size: 27px 27px;
    
    &:active{
      background-image: url(../img/plus-white.png);
    }
  }
}

.contest-form__companion-name{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 20px;

  &:nth-of-type(2){
    padding-top: 10px;
    margin-top: 48px;
    border-top: 2px solid @border-grey;
  }
}

.contest-form__companion-number-block{
  width: 60px;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
}

.contest-form__companion-number{
  background-color: @l-grey;
  border: 2px solid @border-grey;
  border-right: none;
  font-size: 18px;
  line-height: 30px;
  color: @blue-grey;
  padding: 15px 10px;
}

.contest-form__companion-name-block{
  width: 215px;
  flex-shrink: 1;
  flex-grow: 1000;
}

.contest-form__delete{
  display: none;
  
  &:hover{
    color: @pink;
    text-decoration: underline;
  }
  
  &:active{
    opacity: .3;
    text-decoration: none;
  }
}

.contest-form__separator{
  margin: 35px 0;
  padding: 0;
  height: 2px;
  background: @border-grey;
  border: none;
}

.contest-form__photo-preview{
  margin-left: -36px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contest-form__footnote{
  font-size: 14px;
  line-height: 30px;
  color: @blue-grey;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 0;

  &--hide{
      display: none;
    }
}

.contest-form__footnote-asterisk{
  color: @pink;
}

@media (min-width:@screen-sm) {

  .contest-form{
    padding-top: 100px;
  }

  .contest-form__description{
    width: 490px;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
  }

  .contest-form__offer{
    display: inline;
  }

  .contest-form__fieldset{
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 65px;
    border: 2px solid @border-grey;
    padding-top: 0;
    text-align: center;

    & .container{
      margin: 0 9.7%;
    }

    &--name{
      border: none;
      margin-left: -4.6%;
      margin-right: -4.6%;
      padding-bottom: 0;
    }

    &--date{
      padding-bottom: 15px;
    }

    &--companions{
      padding-bottom: 35px;
    }

    &--submit{
      border: none;
      margin-left: -4.6%;
      margin-right: -4.6%;
      margin-bottom: 0;

      & .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
      }
    }

    &--even{
      background: white;
      padding-top: 0;
    }

    &--odd{
      padding-top: 0;
    }
  }

  .contest-form__title{

    &--fieldset-title{
      display: inline-block;
      position: relative;
      top: -9px;
      margin: auto;
      margin-bottom: 25px;
      padding: 0 20px;
      background: white;
    }
  }

  .contest-form__inputs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contest-form__input-group{
    width: 48%;
  }

  .contest-form__input-description{
    text-align: left;
  }

  .contest-form__input-number{

    &--companion{

      width: 50%;

      & .input[readonly]{
        border-top: none;
        border-bottom: none;
        background: white;
      }
    }
  }

  .contest-form__companion-number-block{
    margin-right: 4%;
  }

  .contest-form__companion-number{
    border-right: 2px solid @border-grey;
  }

  .contest-form__delete{
    display: block;
    margin-top: 80px;
    margin-left: 11%;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
  }

  .contest-form__separator{
    margin-top: 40px;
    margin-bottom: 65px;
  }

  .contest-form__photo-preview{
    margin-left: -66px;
  }

  .contest-form__footnote{
    margin: 0;
    align-self: center;
    width: 50%;
    flex-shrink: 0;
    text-align: right;
  }
}

@media (min-width:@screen-lg) {

  .contest-form{
    width: 940px;
    margin: 0 auto;
  }

  .contest-form__fieldset{
    margin-left: 0;
    margin-right: 0;

    & .container{
      width: auto;
      margin: 0 58px;
    }

    &--name{

    & .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: flex-start;
      margin: 0;
    }
  }

    &--device{
      padding-bottom: 12px;

      & .contest-form__title{
        margin-bottom: 12px;
      }
    }

    &--date{
      padding-bottom: 0;
    }

    &--companions{
      padding-bottom: 60px;
    }

    &--achievments{
      padding-bottom: 15px;
    }

    &--submit{
      & .container{
      width: auto;
      margin: 0;
      }
    }
  }

  .contest-form__description{
    width: 760px;
    margin-bottom: 45px;
  }

  .contest-form__input-name{
    width: 296px;
  }

  .contest-form__input-device{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 30px;
  }

  .contest-form__input-group{
    width: 245px;
  }

  .contest-form__input-number--companion{
    width: 248px;
  }

  .contest-form__companion-name{
    margin-bottom: 0;
  }

  .contest-form__companion-number-block{
    margin-right: 24px;
  }

  .contest-form__companion-name-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .contest-form__input-wrapper{
    width: 296px;
    margin-right: 24px;
  }

  .contest-form__delete{
    margin-left: 30px;
  }

  .contest-form__iput-achievments{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-between;
    height: 160px;
    margin-top: 10px;
  }

  .contest-form__input-description{

    &:first-of-type {
       margin-top: 0 !important;
    }

    &:last-of-type {
       margin-bottom: 45px !important;
    }
  }

  .contest-form__photo-preview{
    margin-left: -55px;
    padding-bottom: 25px;
  }

  .contest-form__footnote{
    width: 640px;

    &--hide{
      display: inline;
    }
  }
}
