.copyright{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @blue-grey;
  text-align: center;
  margin-bottom: 45px;
}

.htmlacademy-icon{
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  background-image: url(../img/icon-htmlacademy.png);
  background-repeat: no-repeat;
  background-position: center;

}
