.effect {
  background: white;
}

.effect__timer {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 262px;
  height: 302px;

  text-align: center;

  background-image: url(../img/timer.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  &:before {
    font-size: 105px;
    font-weight: 700;
    line-height: 1em;

    position: absolute;
    bottom: 24px;
    left: 24px;

    box-sizing: border-box;
    width: 215px;
    height: 215px;
    padding-top: 40px;

    content: "24";

    color: @pink;
    border: 10px solid @pink;
    border-radius: 50%;
    background-color: white;
  }
}

.effect__title {
  font-size: 30px;
  line-height: 36px;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 310px;
  padding: 70px 0 15px 0;
}

.effect__text {
  margin-bottom: 15px;
  margin-left: 310px;
  padding: 0;

  text-align: left;

  &:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
}

.effect__link {
  color: @pink;
}

@media (max-width: @screen-sm) {
  .effect {
    display: none;
  }
}

@media (min-width: @screen-lg) {
  .effect {
    padding-bottom: 65px;

    background: @l-grey;
  }

  .effect__timer {
    width: 301px;
    height: 346px;

    background-image: url(../img/timer-dark.svg);

    &:before {
      font-size: 120px;

      bottom: 27px;
      left: 27px;

      width: 247px;
      height: 247px;
      padding-top: 43px;

      border-width: 13px;
      background-color: @l-grey;
    }
  }

  .effect__title {
    margin-left: 367px;
  }

  .effect__text {
    font-size: 18px;
    line-height: 30px;

    margin-left: 367px;
  }
}
