.input {
  font-family: @base-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 15px 22px;

  color: @blue-grey;
  border: 2px solid @border-grey;

  &:hover {
    border-color: @blue-grey;
  }

  &:focus {
    border-color: @pink;
    outline: none;
  }

  &:read-only {
    background-color: @l-grey;

    &:hover {
      border-color: @border-grey;
    }

    &:focus {
      border-color: @border-grey;
    }
  }

  &--number {
    width: 157px;

    text-align: center;

    border-right-width: 0;
    border-left-width: 0;

    flex-grow: 100;
    flex-shrink: 1;

    &:hover {
      padding-right: 20px;
      padding-left: 20px;

      border-right-width: 2px;
      border-left-width: 2px;
    }

    &:focus {
      padding-right: 20px;
      padding-left: 20px;

      border-right-width: 2px;
      border-left-width: 2px;
    }

    &:read-only:hover {
      border-right-width: 0;
      border-left-width: 0;
    }

    &:read-only:focus {
      border-right-width: 0;
      border-left-width: 0;
    }
  }
}

@media (min-width: @screen-sm) {
  .input {
    &--number {
      width: 57%;

      flex-grow: initial;
      flex-shrink: initial;
    }
  }
}
