.logo {
  font-size: 0;

  position: absolute;
  z-index: 10;
  top: 22px;
  left: 0;

  display: block;

  width: 74px;
  height: 23px;

  background-image: url(../img/logotype-white-mobile.svg);
  background-repeat: no-repeat;

  &:hover {
    background-image: url(../img/logotype-pink-mobile.svg);
  }

  &:active {
    opacity: 0.3;
    background-image: url(../img/logotype-white-mobile.svg);
  }

  &--footer {
    position: static;

    width: 145px;
    height: 40px;
    margin: 0 auto 40px auto;

    background-image: url(../img/logotype-blue-tablet.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-image: url(../img/logotype-pink-tablet.svg);
    }

    &:active {
      background-image: url(../img/logotype-blue-tablet.svg);
    }
  }
}

@media (min-width: @screen-sm) {
  .logo {
    top: 27px;

    width: 145px;
    height: 40px;

    background-image: url(../img/logotype-white-tablet.svg);

    &:hover {
      background-image: url(../img/logotype-pink-tablet.svg);
    }

    &:active {
      background-image: url(../img/logotype-white-tablet.svg);
    }

    &--footer {
      position: static;

      width: 145px;
      height: 40px;
      margin: 0;
      margin-top: -15px;

      background-image: url(../img/logotype-blue-tablet.svg);
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        background-image: url(../img/logotype-pink-tablet.svg);
      }

      &:active {
        background-image: url(../img/logotype-blue-tablet.svg);
      }
    }
  }
}

@media (min-width: @screen-lg) {
  .logo {
    background-image: url(../img/logotype-white-desktop.svg);

    &:hover {
      background-image: url(../img/logotype-pink-desktop.svg);
    }

    &:active {
      background-image: url(../img/logotype-white-desktop.svg);
    }

    &--footer {
      background-image: url(../img/logotype-blue-desktop.svg);

      &:active {
        background-image: url(../img/logotype-blue-desktop.svg);
      }
    }
  }
}
