.main-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  background: @blue-grey;
  box-shadow: inset 0 -1px darken(@blue-grey, 10%);
  z-index: 100;

  &--closed{
    background: rgba(0, 0, 0, .3);
    box-shadow: none;
    height: 66px;

    & .main-menu__icon:before{
      content: '';
      position: absolute;
      top: 22px;
      right: 0;
      width: 50px;
      height: 24px;
      background: url(../img/menu-burger.svg) no-repeat center;
      background-size: contain;
      cursor: pointer;
    }

    & .main-menu__icon:hover:before{
        background-image: url(../img/menu-burger-pink.svg);
      }

    & .main-menu__icon:active:before{
      opacity: .3;
    }

    & .main-menu__list{
      display: none;
    }
  }
}

.main-menu__icon{

  &:before{
    content: '';
    position: absolute;
    top: 22px;
    right: 0;
    width: 23px;
    height: 22px;
    background: url(../img/menu-cross.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
  }

  &:hover:before{
    background-image: url(../img/menu-cross-pink.svg);
  }

  &:active:before{
    opacity: .3;
  }
}

.main-menu__list{
  list-style: none;
  padding: 0;
  margin-top: 69px;
}

.main-menu__item{
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-menu__link{
  display: block;
  padding: (@base-font-size * 1.5) @base-font-size;
  margin: 0;

  font-size: @h2-font-size;
  line-height: round((@h2-font-size * 1.8));
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;

  background: @blue-grey;
  box-shadow:
    inset 0 1px lighten(@blue-grey, 10%),
    inset 0 -1px darken(@blue-grey, 10%);

  &:hover{
    color: @pink;
  }

  &:active{
    color: fade(@pink, 30%);
  }
}

@media (min-width: @screen-sm) {
  .main-menu{
    background: @blue-grey;
    height: 110px;

  .main-menu__list{
        margin-top: 110px;
      }

  &--closed{
    background: rgba(0, 0, 0, .3);
    box-shadow: none;
  }

    & .main-menu__icon:before{
      top: 44px;
    }
  }
}

@media (min-width: @screen-lg) {

  .main-menu--closed{

    .main-menu__list{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-content: center;
      width: 940px;
      margin: 31px auto;
    }
  }


  .main-menu__link{
    font-size: 18px;
    line-height: 1em;
    font-weight: 400;
    text-transform: none;
    background: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 70px;

    &:hover{
      color: white;
      border-bottom: 2px solid white;
      padding-bottom: 12px;
    }

    &:active{
      color: white;
      border: none;
      opacity: .3;
    }
  }

  .main-menu__icon{
    display: none;
  }
}