.main-menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  background: @d-grey;
  z-index: 1;
  
  &--closed{
    background: rgba(0, 0, 0, .3);
    height: 66px;
    
    & .main-menu__icon:before{
      content: '';
      position: absolute;
      top: 22px;
      right: 0;
      width: 50px;
      height: 24px;
      background: url(../img/menu-burger.svg) no-repeat center;
      background-size: contain;
      cursor: pointer;
    }
    
    & .main-menu__list{
      display: none;
    }
  }
}

.main-menu__icon{
  
  &:before{
    content: '';
    position: absolute;
    top: 22px;
    right: 0;
    width: 23px;
    height: 22px;
    background: url(../img/menu-cross.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;
  }

}

.main-menu__list{
  list-style: none;
  padding: 0;
  margin-top: 69px;
}

.main-menu__item{
  text-align: center;
  padding: 0;
  margin: 0;
}

.main-menu__link{
  display: block;
  padding: (@base-font-size * 1.5) @base-font-size;
  margin: 0;

  font-size: @h2-font-size;
  line-height: round((@h2-font-size * 1.8));
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;

  background: @blue-grey;
  box-shadow:
    inset 0 1px lighten(@blue-grey, 10%),
    inset 0 -1px darken(@blue-grey, 10%);
}

@media (min-width: @screen-sm) {
  .main-menu{
    height: 110px;
    
    &--closed{
      height: 110px;
    }
    
    & .main-menu__icon:before{
      top: 44px;
    }
  }
  
  
}