.page-footer{
  padding: 50px 0 0 0;
  text-align: center;
}

.page-footer__promo{
  font-size: @large-font-size;
  line-height: round((@large-font-size * 1.2));
  font-weight: 300;
  padding-bottom: 40px;
  margin: 0;
  background: white;
}

.page-footer__contacts{
  background: white;
  padding-bottom: 20px;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    width: 50%;
    height: 35px;
    right: 0;
    bottom: -35px;
    background: linear-gradient(to top left, transparent 50%, white 50%);
  }

  &:after{
    content: '';
    position: absolute;
    width: 50%;
    height: 35px;
    left: 0;
    bottom: -35px;
    background: linear-gradient(to top right, transparent 50%, white 50%);
    background-size: contain;
  }
}

.page-footer__contacts-title{
  padding: 0;
  margin-bottom: 5px;
}

.page-footer__contacts-text{
  color: @pink;
  font-size: @large-font-size;
  line-height:  round((@large-font-size * 1.2));
  font-weight: 300;
  padding-bottom: 20px;
  margin: 0;

  & a{
    text-decoration: none;
    color: @pink;
  }
}

.map{
  background: url(../img/map.png) no-repeat center -445px;
  height: 200px;
}

//media

@media (max-width: @screen-sm) {
  .page-footer__wrapper--main-page{
    display: none;
  }
}

@media (min-width: @screen-sm) {
  .page-footer__promo{
    font-size: 40px;
    line-height: 1.2em;
    padding-bottom: 0;
  }

  .page-footer__contacts{

    & .container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 0;
      align-content: flex-start;
      z-index: 10;
    }

    &:before{
      height: 70px;
      bottom: -70px;
      z-index: 1;
    }

    &:after{
      height: 70px;
      bottom: -70px;
      z-index: 2;
    }
  }

  .page-footer__contacts-item{
    width: 240px;
    margin-top: 50px;
  }

  .page-footer__contacts-title{
    margin-top: 0;
  }

  .page-footer__contacts-text{
    padding-bottom: 0;
  }

  .map{
    height: 380px;
    background-position-y: -325px;
    background-size: 100%;
  }

  .page-footer__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 35px;

    .container();

    & div{
      margin: 0;
    }

    & div:last-of-type{
      align-self: center;
    }
  }
}
