.photo-preview{
  position: relative;
  width: 68px;
  font-size: 12px;
  line-height: 20px;
  font-family: @base-font;
  font-weight: 400;
  color: @blue-grey;
  text-transform: uppercase;
  margin: 0 0 20px 36px;
  padding: 0;

  &:before{
    content: '';
    position: absolute;
    top: -15px;
    left: 52px;
    width: 30px;
    height: 30px;
    border: 2px solid @border-grey;
    border-radius: 50%;
    background-image: url(../img/cross-grey.png);
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

@media (min-width: @screen-sm) {
  .photo-preview{
    width: 120px;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 45px 66px;

    &:before{
      top: -25px;
      left: 95px;
      width: 50px;
      height: 50px;
      background-size: 20px 20px;
    }
  }
}
