.photo-preview{
  position: relative;
  width: 68px;
  font-size: 12px;
  line-height: 20px;
  font-family: @base-font;
  font-weight: 400;
  color: @blue-grey;
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 20px 36px;
  padding: 0;
}

.photo-preview__icon-close{
  position: absolute;
  top: -15px;
  left: 52px;
  width: 30px;
  height: 30px;
  border: 2px solid @border-grey;
  border-radius: 50%;
  background-image: url(../img/cross-grey.svg);
  background-size: 12px 12px;
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  cursor: pointer;
  
  &:hover{
    border-color: @blue-grey;
    background-image: url(../img/cross.svg);
  }
  
  &:active{
    border-color: @blue-grey;
    background-image: url(../img/cross-white.svg);
    background-color: @blue-grey;
  }
}

@media (min-width: @screen-sm) {
  .photo-preview{
    width: 120px;
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 45px 66px;
  }
  
  .photo-preview__icon-close{
    top: -25px;
    left: 95px;
    width: 50px;
    height: 50px;
    background-size: 20px 20px;
  }
}

@media (min-width: @screen-lg) {

  .photo-preview{
    margin-left: 55px;
    margin-bottom: 25px;
  }
}
