slider-tabs{
  font-size: 0;
  text-align: center;
}

.slider-tabs__tab{
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: fade(@blue-grey, 30%);
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;

  &:hover{
    background: @blue-grey;
  }
  
  &:active{
    background: fade(@blue-grey, 10%);
  }
  
  &--active{
    background: white;
    border: 3px solid @blue-grey;
    margin-right: 17px;
    margin-left: -3px;
    cursor: auto;
    
    &:hover{
      background: white;
    }
  
    &:active{
      background: white;
    }
  }

  &:last-child{
    margin-right: 0;
  }
}
