.social {
  font-size: 0;

  margin-bottom: 40px;

  text-align: center;
}

.social-btn {
  display: inline-block;

  width: 45px;
  height: 45px;
  margin-right: 10px;

  vertical-align: middle;

  border: 3px solid @border-grey;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;

  &:last-child {
    margin-right: 0;
  }

  &--twitter {
    background-image: url(../img/twitter.svg);
  }

  &--fb {
    background-image: url(../img/facebook.svg);
  }

  &--youtube {
    background-image: url(../img/youtube.svg);
    background-position-x: 17px;
  }

  &:hover {
    border-color: @blue-grey;
  }

  &:active {
    opacity: 0.3;
    border-color: fadein(fade(@blue-grey, 10%), 30%);
  }
}

@media (min-width: @screen-sm) {
  .social {
    margin-bottom: 0;
  }
}
